@using EShopping.Entity.Response.DTO
@using EShopping.Common

@model List<QueryShareInfoListDTO>

         <header id="header" class="shopcar-top">
    <h2 style="background-color: #BF0000; color: #fff !important;">晒单列表</h2>
</header>
<input type="hidden" value="1" id="pageIndex" />
<div class="noclass">
    @if (Model != null && Model.Count != 0)
    {
        @Html.Partial("PartialShareList", Model);
    }
</div>

@if (Model != null && Model.Count > 0)
{
    <div class="share">
    <ul class="">

        <div class="pullUp" style="display: block; line-height: 40px; margin-top: -7% !important; margin-left: 5% !important; ">

            <div class="pullUpLabel" style="font-family: Arial, Microsoft YaHei; text-align: center; font-size: 14px; cursor: pointer; ">
                <a style="color: #09a9ec !important; " onclick="ShareOrderListLoadMore(@(ViewBag.UserId))">查看更多</a>
            </div>
        </div>
    </ul>
        </div>
}